@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background: white;
}

.prose hr {
    border-top-width: 2px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.prose img {
    border-radius: .3em;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1) !important;
}

.prose img:before {
    position: absolute;
    white-space: pre;
    display: inline;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25px);
}

@media (prefers-color-scheme: dark) {
    .prose img {
        transition: all 0.5s ease 0s !important;
        filter: brightness(65%);
    }

    .prose img:hover {
        filter: brightness(100%);
    }

    html, body {
        background: black;
    }
}
